# 11. Classes and objects.

 * __Python is an object-oriented programming language.__
 * __Unlike procedure-oriented programming, where the main emphasis is on functions, object-oriented programming stressed on objects.__
 * __An object is simply a collection od data (variable) and methods (functions) that act on those data.__
 * __similarly, a class is a blueprint for that object.__
 * __Like function definitions begin with the def keyword in Python, class definitions begin with a class keyword.__
 * __The first string inside the class docstring and has a brief description of the class.__
 * __Although not mandatory, this is highly recommended.__

In [7]:
x=0 # x is the global variable beacuase the x is outside the function.
class data:
    num=3.14   # local variable: Because num is inside the function class.
print(data)

<class '__main__.data'>

In [9]:
data.num

3.14

In [13]:
class data:
    num1=10
    num2=20
# calling an object.
x=data
print(x.num1)
print(x.num2)

10
20

# Function init() [constructor]

In [17]:
class details:
    def __init__(self,name,age,rollno,email):
        self.name=name
        self.age=age
        self.rollno=rollno
        self.email=email

# Creating an object
abhishek=details('Abhishek',20,78,'abhishek26@gmail.com')
print(abhishek.name)
print(abhishek.age)
print(abhishek.rollno)
print(abhishek.email)

Abhishek
20
78
abhishek26@gmail.com

In [22]:
sahil=details("Sahil",25,100,'sahil@gmail.com')
print(sahil.name)
print(sahil.age)
print(sahil.rollno)
print(sahil.email)

Sahil
25
100
sahil@gmail.com

# Self parameter

 * __The self parameter is a reference to the current instance of the class, and is used to access variable that belongs to the class.__
 * __It does not have to be named self, your can call it whatever you like, but it has to the the first parameter of any function in the class.__

In [24]:
class details_person:
    def __init__(x,name,age,gender,address):
        x.name=name
        x.age=age
        x.gender=gender
        x.address=address


shivam=details_person("Shivam Kamble",45,"male","Bhusawal")
print(shivam.name)
print(shivam.age)
print(shivam.gender)
print(shivam.address)

Shivam Kamble
45
male
Bhusawal

In [31]:
class student_details:
    def __init__(self,name,age,sex,address,phoneno):
        self.name=name
        self.age=age
        self.sex=sex
        self.address=address
        self.phoneno=phoneno
        
    def student_details_data(self):
        print(f'Student name is: {self.name}')
        print(f'Student age is: {self.age}')
        print(f'Student sex is: {self.sex}')
        print(f'Student address is: {self.address}')
        print(f'Student phone No is: {self.phoneno}')
        

obj1=student_details("Shivam Kamble",45,"Male","Bhusawal","123456789")
# print(obj1.name)
# print(obj1.age)
# print(obj1.sex)
# print(obj1.address)
# print(obj1.phoneno)

obj1.student_details_data()

Student name is: Shivam Kamble
Student age is: 45
Student sex is: Male
Student address is: Bhusawal
Student phone No is: 123456789

In [32]:
obj2=student_details("Abhishek",12,"Male","Bhusawal","123")
obj2.student_details_data()

Student name is: Abhishek
Student age is: 12
Student sex is: Male
Student address is: Bhusawal
Student phone No is: 123

In [35]:
class student_details:
    def __init__(self,name,age,sex,address,phoneno):
        self.name=name
        self.age=age
        self.sex=sex
        self.address=address
        self.phoneno=phoneno
        
    def student_details_data(self):
        y='Student'
        print(f'{y} name is: {self.name} \n{y} age is {self.age}\n{y} gender is: {self.sex}\n{y} address is: {self.address}\n{y} phone No is: {self.phoneno}')
        # print(f'Student age is: {self.age}')
        # print(f'Student sex is: {self.sex}')
        # print(f'Student address is: {self.address}')
        # print(f'Student phone No is: {self.phoneno}')
        

obj1=student_details("Shivam Kamble",45,"Male","Bhusawal","123456789")
# print(obj1.name)
# print(obj1.age)
# print(obj1.sex)
# print(obj1.address)
# print(obj1.phoneno)

obj1.student_details_data()

Student name is: Shivam Kamble
Student age is 45
Student gender is: Male
Student address is: Bhusawal
Student phone No is: 123456789

In [36]:
obj2=student_details("Abhishek",12,"Male","Bhusawal","123")
obj2.student_details_data()

Student name is: Abhishek
Student age is 12
Student gender is: Male
Student address is: Bhusawal
Student phone No is: 123

In [37]:
obj1.name

'Shivam Kamble'

In [38]:
obj2.name

'Abhishek'

In [39]:
obj1.age

45

In [40]:
obj2.age

12

# Access the object value form the user input function

In [41]:
class student_details:
    def __init__(self,name,age,sex,address,phoneno):
        self.name=name
        self.age=age
        self.sex=sex
        self.address=address
        self.phoneno=phoneno
        
    def student_details_data(self):
        y='Student'
        print(f'{y} name is: {self.name} \n{y} age is {self.age}\n{y} gender is: {self.sex}\n{y} address is: {self.address}\n{y} phone No is: {self.phoneno}')
        

obj1=student_details("Shivam Kamble",45,"Male","Bhusawal","123456789")
obj1.student_details_data()

Student name is: Shivam Kamble
Student age is 45
Student gender is: Male
Student address is: Bhusawal
Student phone No is: 123456789

In [44]:
# from local variable otherwise global variabel
#------------------------------------------------------------------------------
# access variable form global

class student_details:
    def __init__(self,name,age,sex,address,phoneno):
        self.name=name
        self.age=age
        self.sex=sex
        self.address=address
        self.phoneno=phoneno
        
    def student_details_data(self):
        y='Student'
        print('---------------------------------------------------------------------------')
        print(f'{y} name is: {self.name} \n{y} age is {self.age}\n{y} gender is: {self.sex}\n{y} address is: {self.address}\n{y} phone No is: {self.phoneno}')

#global variable     
name=input('Enter your name here:')
age=int(input('Enter your age:'))
gender=input('Enter your gender:')
address=input('Enter your address:')
phone=input('Enter your phone number:')
#----------------------------------------------

obj1=student_details(name,age,gender,address,phone)
obj1.student_details_data()

Enter your name here: shivam
Enter your age: 12
Enter your gender: male
Enter your address: pune
Enter your phone number: 123456

---------------------------------------------------------------------------
Student name is: shivam
Student age is 12
Student gender is: male
Student address is: pune
Student phone No is: 123456

In [50]:
# from local variable otherwise global variabel
#------------------------------------------------------------------------------
# access variable form global

class student_details:

    def __init__(self,name,age,sex,address,phoneno):
        self.name=name
        self.age=age
        self.sex=sex
        self.address=address
        self.phoneno=phoneno
        
    def student_details_data(self):
        y='Student'
        print('---------------------------------------------------------------------------')
        print(f'{y} name is: {self.name} \n{y} age is {self.age}\n{y} gender is: {self.sex}\n{y} address is: {self.address}\n{y} phone No is: {self.phoneno}')

#global variable     
name=input('Enter your name here:')
age=int(input('Enter your age:'))
gender=input('Enter your gender:')
address=input('Enter your address:')
phone=input('Enter your phone number:')
#----------------------------------------------

obj1=student_details(name,age,gender,address,phone)
obj1.student_details_data()

Enter your name here: abshik
Enter your age: 12
Enter your gender: 13
Enter your address: 13
Enter your phone number: 45

---------------------------------------------------------------------------
Student name is: abshik
Student age is 12
Student gender is: 13
Student address is: 13
Student phone No is: 45

In [55]:
# accessing local variable

class data:
    def __init__(self):
        x=10
        y=20
        self.x=x
        self.y=y
    def addition(self):
        z=self.x+self.y
        return z
obj1=data()
obj1.addition()

30

In [11]:
class Student:
    def __init__(self,name,age,rollno,mobileno,address):
        self.name=name
        self.age=age
        self.rollno=rollno
        self.mobileno=mobileno
        self.address=address



x=Student('Shivam Kamble',25,'0147','1234567890','Bhusaval')
print(x.name)

print(x.age)
print(x.rollno)
print(x.mobileno)
print(x.address)

Shivam Kamble
25
0147
1234567890
Bhusaval

In [12]:
class Student:
    def __init__(self,name,age,rollno,mobileno,address):
        self.name=name
        self.age=age
        self.rollno=rollno
        self.mobileno=mobileno
        self.address=address


x=Student('Shivam Kamble',25,'0147','1234567890','Bhusaval')
print(x.name)

print(x.age)
print(x.rollno)
print(x.mobileno)
print(x.address)

Shivam Kamble
25
0147
1234567890
Bhusaval

In [18]:
class Rectangle:
    def __init__(self,length,width):
        self.length=length
        self.width=width
        
    def area_rectangle(self):
        area=self.length*self.width
        print(f"The area of Rectangle whose length is {self.length}cm² and width {self.width}cm² and it's calculated area is:{area} cm²")
        
x=int(input('Enter the length of Rectangle:'))
y=int(input('Enter the width of the Rectangle:'))

obj1=Rectangle(x,y)
obj1.area_rectangle()

Enter the length of Rectangle: 78
Enter the width of the Rectangle: 58

The area of Rectangle whose length is 78cm² and width 58cm² and it's calculated area is:4524 cm²

In [22]:
# Area of square and it's perimeter using class and object.

class square:
    def __init__(self,side):
        self.side=side
    def square_details(self):
        area=self.side*self.side
        perimeter=4*self.side
        print(f"The area of square whose side is {self.side} and its calcuated area is:{area}cm²")
        print(f"The perimeter of square whose side is {self.side} and it's calculated perimeter is:{perimeter}cm.")

x=int(input('Enter the side of square:'))
obj2=square(x)
obj2.square_details()

Enter the side of square: 45

The area of square whose side is 45 and its calcuated area is:2025cm²
The perimeter of square whose side is 45 and it's calculated perimeter is:180cm.

In [23]:
# write a program to find the area of circle and circumference of circle:
#---------------------------------------------------------------------------
# pi*r²
# 2*pi*r
#----------------------------------------------------------------------------------
class circle:
    def __init__(self,radius):
        self.radius=radius
    def circle_details(self):
        area=3.14*self.radius*self.radius
        circumference=2*3.14*self.radius
        print(f"The area of circle whose radius is {self.radius} and it's area is:{area} cm²")
        print(f"The circumference of circle whose radius is {self.radius} and it's value is: {circumference} cm.")

x=int(input('Enter Radius of the circle:'))
obj3=circle(x)
obj3.circle_details()

Enter Radius of the circle: 10

The area of circle whose radius is 10 and it's area is:314.0 cm²
The circumference of circle whose radius is 10 and it's value is: 62.800000000000004 cm.

In [27]:
# write a program to find the area of circle and circumference of circle:
#---------------------------------------------------------------------------
# pi*r²
# 2*pi*r
#----------------------------------------------------------------------------------
import math
class circle:
    def __init__(self,radius):
        self.radius=radius
    def circle_details(self):
        area=math.pi*self.radius*self.radius
        circumference=2*math.pi*self.radius
        print(f"The area of circle whose radius is {self.radius} and it's area is:{area} cm²")
        print(f"The circumference of circle whose radius is {self.radius} and it's value is: {circumference} cm.")

x=int(input('Enter Radius of the circle:'))
obj3=circle(x)
obj3.circle_details()

Enter Radius of the circle: 10

The area of circle whose radius is 10 and it's area is:314.1592653589793 cm²
The circumference of circle whose radius is 10 and it's value is: 62.83185307179586 cm.

In [30]:
# write a short paragraph contains 7-10 lines about animal using class and object
#--------------------------------------------------------------
class Animal:
    def __init__(self,name,sci_name,kingdom,phylum,class1,order,family,genus,species):
        self.name=name
        self.sci_name=sci_name
        self.kingdom=kingdom
        self.class1=class1
        self.phylum=phylum
        self.order=order
        self.family=family
        self.genus=genus
        self.species=species
        
    def details_animal(self):
        print(f'Scientific name of {self.name} is {self.sci_name}.')
        print(f'Kingdom of {self.name} is {self.kingdom}.')
        print(f'Phylum of {self.name} is {self.phylum}. ')
        print(f'Class of {self.name} is {self.class1}.')
        print(f'Order of {self.name} is {self.order}.')
        print(f'Family of {self.name} is {self.family}.')
        print(f'Genus of {self.name} is {self.genus}.')
        print(f'Species of {self.name} is {self.species}.')
        
Rat=Animal('Rat',"Rattus norvegicus",'Animalia',"Chordata","Mammalia","Muridae","Rodentia","Rattus","Norvegicus")
print('* Rat--->')
Rat.details_animal()
print('\n-----------------------------------------------------------------------------------------------\n')

* Rat--->
Scientific name of Rat is Rattus norvegicus.
Kingdom of Rat is Animalia.
Phylum of Rat is Chordata.
Class of Rat is Mammalia.
Order of Rat is Muridae.
Family of Rat is Rodentia.
Genus of Rat is Rattus.
Species of Rat is Norvegicus.

-----------------------------------------------------------------------------------------------

# Inheritance

 * __Simple(single) Inheritance(Parent class and Child Class)__
 * __Multilevel Inheritance(Parent/child-child)__
 * __Multiple Inheritance(Parent/class/Parent class-Child class)__
 * __Hierarchical Inheritance(Parent class-Child class/Child class/Child class)__

In [9]:
# Single Inheritance 

class a:   # parent of b child
    brand_name1="Amazon"
    brand_name2="Flipkart"
    brand_name3="Myntra"
class b(a):   # b is the child of a
    prod_1="Online Commerce Strore."
    prod_2="Online Store."
    prod_3="E-Commerce Store."
obj_1=b()
print(obj_1.brand_name1+" is an "+obj_1.prod_1)
print(obj_1.brand_name2+" is an "+obj_1.prod_1)
print(obj_1.brand_name3+' is an '+obj_1.prod_1)

Amazon is an Online Commerce Strore.
Flipkart is an Online Commerce Strore.
Myntra is an Online Commerce Strore.

In [6]:
b.brand_name1

'Amazon'

In [16]:
# Multilevel Inheritance :


# Single Inheritance 

class a:   # parent of b child   [parent]
    brand_name1="Amazon"
    brand_name2="Flipkart"
    brand_name3="Myntra"
class b(a):   # b is the child of a  [chilld]
    prod_1="Online Commerce Strore"
    prod_2="Online Store"
    prod_3="E-Commerce Store"   
class c(b):     # grandchild
    popularity_1="100"
    popularity_2="500"
    popularity_3="1000"

obj_1=c()

print(obj_1.brand_name1+" is an "+obj_1.prod_1+" and it's popularity is "+obj_1.popularity_1)
print(obj_1.brand_name2+" is an "+obj_1.prod_2+" ans it's popularity is "+obj_1.popularity_2)

Amazon is an Online Commerce Strore and it's popularity is 100
Flipkart is an Online Store ans it's popularity is 500

In [19]:
# Multiple Inheritance [Parent/parent-child]

# Single Inheritance 

class a:  
    brand_name1="Amazon"
    brand_name2="Flipkart"
    brand_name3="Myntra"
    
class b:   
    prod_1="Online Commerce Strore"
    prod_2="Online Store"
    prod_3="E-Commerce Store"

class c(a,b):
    popularity_1="100"
    popularity_2="200"
    popularity_3="300"
obj_2=c()
print(obj_2.brand_name1+' is an '+obj_2.prod_1+" and it's populairyt is "+obj_2.popularity_1)

Amazon is an Online Commerce Strore and it's populairyt is 100

In [24]:
# Hierarchical Inheritance:

class a:  
    brand_name1="Amazon"
    brand_name2="Flipkart"
    brand_name3="Myntra"
    
class b(a):   
    prod_1="Online Commerce Strore"
    prod_2="Online Store"
    prod_3="E-Commerce Store"

class c(a):
    popularity_1="100"
    popularity_2="200"
    popularity_3="300"

class d(a):
    prod_value_1="Best Value"
    prod_value_2="Good Value"
    prod_value_3="Better Value"

obj_1=b()
obj_2=c()
obj_3=d()
print(obj_1.brand_name1+' is an '+obj_1.prod_1+" and it's popularity is "+obj_2.popularity_1+" and it's value is "+obj_3.prod_value_1)
print(obj_1.brand_name2+' is an '+obj_1.prod_2+" and it's popularity is "+obj_2.popularity_2+" and it's value is "+obj_3.prod_value_2)

Amazon is an Online Commerce Strore and it's popularity is 100 and it's value is Best Value
Flipkart is an Online Store and it's popularity is 200 and it's value is Good Value

In [33]:
# Hybrid Inheritance
class a:
    def name_a(self):
        return('Hello world')

class b:
    def name_b(self):
        return('Hi')
class c(a):
    def name_c(self):
        return('class a and c')
class d(b,c):
    def name_d(self):
        return('class a,b c, and include also d property.')

obj_4=d()
print(obj_4.name_a())
print(obj_4.name_b())
print(obj_4.name_c())
print(obj_4.name_d())

Hello world
Hi
class a and c
class a,b c, and include also d property.

# 4 Methods of oops concept

 * __1.Inheritance__
 * __2.Polymorphism__
 * __3.Encapsulation__
 * __4.Data Abstraction__

 * __1. Inheritance (Mom and Daughter):- Some property of mom inherits by her daughter.__
 * __2. Polymorphism(child): In School behave like student, In home behave like son or daughter, in Bus behave like passenger, In shop behave like customer, in Hospital behave like patients.__
 * __3. Data_Abstraction: ATM,check balance,deposite cash, withdaraw cash, print statement,(Hiding or irrevalant data).__

In [34]:
# 4 methods of ooops concept:
# 1). Inheritance
# 2). Polymorphism
# 3). Encapsulation
# 4). Data Abstraction

In [49]:
# 1. Inheritance

class Animal:
    def __init__(self,name):
        self.name=name

class Dog(Animal):
    def __init__(self,name):
        super().__init__(name)
    def speak(self):
        return("Bark")
    def color(self):
        return('White')


dog=Dog('Shawn')
print(dog.name)
print(dog.color())
print(dog.speak())

Shawn
White
Bark

In [51]:
# polymorphism

class Animal:
    def speak(self):
        print('Animal Speak')

class Dog(Animal):
    def speak(self):
        print('Bark')

class Cat(Animal):
    def speak(self):
        print('Meow')
class Man(Animal):
    def speak(self):
        print("Talk")
animal=[Dog(),Cat(),Man()]

for i in animal:
    i.speak()

Bark
Meow
Talk

In [54]:
# Encapsulation

class Encapsulation:
    def __init__(self,value):
        self.private_variable=value

    def get_private_variable(self):
        return self.private_variable

    def update_value(self,new_value):
        self.private_variable=new_value

obj=Encapsulation(20)
obj.get_private_variable()

20

In [55]:
obj.get_private_variable()

20

In [56]:
obj.get_private_variable()

20

In [57]:
obj.update_value(100)
obj.get_private_variable()

100

In [58]:
obj.get_private_variable()

100

In [59]:
obj.update_value(500)
obj.get_private_variable()

500

In [60]:
obj1=Encapsulation(200)
obj1.get_private_variable()

200

In [61]:
Abhishek=Encapsulation(1000)
Abhishek.get_private_variable()

1000

In [62]:
Abhishek.update_value(5000)
Abhishek.get_private_variable()

5000

In [63]:
sahil=Encapsulation(60000)
sahil.get_private_variable()

60000

In [64]:
sahil.update_value(10000)
sahil.get_private_variable()

10000

In [65]:
Abhishek.get_private_variable()

5000

In [66]:
sahil.get_private_variable()

10000

In [75]:
from abc import ABC,abstractmethod
# ABC Stands for-Abstract Base Classes
# decorator: Decorator is nothing it is a function that takes another function as a argument.

class bank(ABC):
    def databases(self):
        print('Connected to Dabase.')
        
    @abstractmethod    #decorator
    def security(self):
        pass
    @abstractmethod
    def display(self):
        pass

In [76]:
class mob_bank(bank):
    def mob_log(self):
        print('Login Success')
   

mob_1=mob_bank()
print(mob_1.databases())

TypeError: Can't instantiate abstract class mob_bank without an implementation for abstract methods 'display', 'security'

In [83]:
class mob_bank(bank):
    def mob_log(self):
        print('Login Success')

    def security(self):
        pass

    def display(self):
        pass
   

mob_1=mob_bank()

print(mob_1.databases())

Connected to Dabase.
None

In [94]:
from abc import ABC, abstractmethod
class abhishek(ABC):
    def name1(self):
        print('My name is Abhishek Wani.\nI live at Bhusawal.')
    @abstractmethod
    def age(self):
        pass
    @abstractmethod
    def salary(self):
        pass

In [97]:
class shivam(abhishek):
    def name(self):
        print('My name is shivam')

    def age(self):
        pass
    def salary(self):
        pass

obj1=shivam()
obj1.name()
obj1.name1()

My name is shivam
My name is Abhishek Wani.
I live at Bhusawal.

In [26]:
#name,acc,pin,value   # init  ,detial 

class atm():
    def __init__(self,name,acc,pin,balance=0):
        self.name=name
        self.acc=acc
        self.pin=pin
        self.balance=balance
    def details(self):
        print(f'\nAccount Holder Name:{self.name}\nAccount Number:{self.acc}\nAccount PIN:****\nAccount Balance:{self.balance}')
    def depo(self,depo):
        self.balance=self.balance+depo
        print(f'\nCurrent Account Balance:₹ {self.balance}')

    def witt(self,witt):
        if witt>self.balance:
            print(f'Insufficient Funds, the amount of money your have is: {self.balance}')
        else:
            self.balance=self.balance-witt
            print(f'Withdraw Successful with Remaining Balance is:{self.balance}')
    def balance(self):
        print(f'Available Balance is:{self.balance}')

    def pinchange(self,oldpin,newpin=0):
        if oldpin!=self.pin:
            print('You Entered wrong PIN.')
        else:
            newpin=int(input('Enter New PIN.'))
            self.pin=newpin
            print(f'PIN has been Changed Successfully.')

    def viewpin(self):
        print(f'Your Current Pin is:{self.pin}')

    def transaction(self):
        print("""\nList of Options\n1.Account Details\n2.Check Balance\n3.Deposite\n4.Withdraw\n5.Change PIN\n6.View PIN\n7.Exit""")
        while True:
            try:
                option=int(input('Choose an Options:'))
            except:
                print('Error:Enter correct option.')
            else:
                if option==1:
                    atm.details(self)
                elif option==2:
                    atm.balance(self)
                elif option==3:
                    depo=int(input('Enter Deposite Amount:'))
                    atm.depo(self,depo)
                elif option==4:
                    witt=int(input('Enter Withdrawal Amount:'))
                    atm.witt(self,witt)
                elif option==5:
                    oldpin=int(input('Enter your OLD PIN:'))
                    atm.pinchange(self,oldpin)
                elif option==6:
                    atm.viewpin(self)
                elif option==7:
                    print('Thank You for Using this ATM.')
                    break
                else:
                    print('Invalid Option. Please choose a valid option.')
try:
    
    name=input("Enter Your Name:")
    acc=int(input('Enter Your Account Number:'))
    pin=int(input('Enter Your Pin:'))
    value=atm(name,acc,pin)
    value.transaction()
except:
    print('ValueError.')

Enter Your Name: Gurav
Enter Your Account Number: 789632541
Enter Your Pin: 7301

List of Options
1.Account Details
2.Check Balance
3.Deposite
4.Withdraw
5.Change PIN
6.View PIN
7.Exit

Choose an Options: 7

Thank You for Using this ATM.

Enter Your Name: Gurav Rupali
Enter Your Account Number: 789654123
Enter Your Pin: 7301

List of Options
1.Account Details
2.Check Balance
3.Deposite
4.Withdraw
5.Exit

Choose an Options: 1

Account Holder Name:Gurav Rupali
Account Number:789654123
Account PIN:****
Account Balance:0

Choose an Options: 3
Enter Deposite Amount: 45000

Current Account Balance:₹ 45000

Choose an Options: 4
Enter Withdrawal Amount: 5000

Withdraw Successful with Remaining Balance is:40000

Choose an Options: 5

Thank You for Using this ATM.