# 14. Lambda Functions in python

 * __A Lambda function is a small anonymous functions.__
 * __A Lambda function can take any number of arguments, but can only have one expression.__
 * __The expression is eveluated and returned.__
 * __Lambda functions can be used wherever function objects are required.__
 * __Lambda Expression(or lambda functions) are essentially blocks of code that be assigned to variable, passed as an arguments, or returned from a functins call, in Language that support high-order functions.__
 * __The main role of the Lambda is better discribed in a scenarios when we employ them anonmously inside another functions.__
 * __In Python, the Lambda function can be utilized as an arugments to their high-order functins as an argument.__
 * __Lambda function in Python__
    * __1.Syntax__
       * __Normal Functions__
       * __Anonymous Functions__
    * __2.Usages__
       * __Lambda with filters()__
       * __Lambda with map()__
       * __Lambda with reduce()__
       * __Lambda with sorted()__
       * __Lambda with apply()__
    * __3.Common Errors__
       * __SyntaxError__
       * __TypeError__

In [1]:
def func(x):
    return x+6
func(10)

16

In [2]:
(lambda y:y+6)(10)

16

In [3]:
# Exponenet (base,pow)
# if user entered any number then it returns the exponenetial form data.

def expo(x,y):
    return x**y

expo(2,3)

8

In [4]:
(lambda a,b:a**b)(2,3)

8

In [5]:
def func():
    x=int(input('Enter Base of the Exponent:'))
    y=int(input('Enter the Power of the Exponent:'))
    z=x**y
    return z

func()

Enter Base of the Exponent: 2
Enter the Power of the Exponent: 4

16

In [8]:
x=int(input('Enter Base of the Exponent:'))
y=int(input('Enter Power of the Exponent:'))

z=(lambda a,b:a**b)(x,y)
print('The result will be Exponential form of two numbers:',z)

Enter Base of the Exponent: 2
Enter Power of the Exponent: 5

The result will be Exponential form of two numbers: 32

In [11]:
#  Write a python program to filter a given list to determine if the values 
# in the list have a lenght of 6 using lambda functions.

# weekdays=['Monday','Tuesday','Wednesday',"Thursday",'Friday','Saturday','Sunday']
weekdays=['Monday','Tuesday','Wednesday',"Thursday",'Friday','Saturday','Sunday']

def function1():
    list1=[]
    for i in weekdays:
        if len(i) ==6:
            list1.append(i)
    print('The value from list having lenght 6 are:',list1)
function1()

The value from list having lenght 6 are: ['Monday', 'Friday', 'Sunday']

# Lambda Filter()

 * __A high-order function__
 * __Syntax: filter(function,sequence)__
    * __It applies function to each element of sequence and returns for which the function returns true.__
 * __Filter returns a subset of sequence__
    * __It generate the actual list, we need apply on list()__

In [13]:
weekdays=['Monday','Tuesday','Wednesday',"Thursday",'Friday','Saturday','Sunday']

filter_list=list(filter(lambda x:len(x) ==6, weekdays))
print('The value from the list having length 6 are:',filter_list)

The value from the list having length 6 are: ['Monday', 'Friday', 'Sunday']

# Lambda with map()

 * __A high-order function__
 * __Syntax: map(function,sequence)__
 * __applies function to each element of sequences and return the result.__

In [19]:
def square1():
    a=[2,4,5,6]
    list1=[]
    for i in a:
        z=i**2
        list1.append(z)

    print(list1)

square1()

[4, 16, 25, 36]

In [21]:
a=[2,4,5,6,7,8,9,10,12,14,15,16,18]

list_map=list(map(lambda x:x**2,a))
list_map

[4, 16, 25, 36, 49, 64, 81, 100, 144, 196, 225, 256, 324]

In [25]:
# from user input using map with lambda
y=int(input('Enter any Number:'))
y1=[]
y1.append(y)
z_list=list(map(lambda a:a**2,y1))
z_list

Enter any Number: 10

[100]

In [29]:
y=int(input('Enter any Number:'))
z_list=list(map(lambda a:a**2,range(y+1)))
z_list

Enter any Number: 10

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
# filter out the even or odd numbers using lambda function.
a=[1,20,50,55,69,58,78,96,36,25,10,11,15,33,39]

def myfunc(x):
    list_even=[]
    list_odd=[]
    for i in x:
        if i%2==0:
           list_even.append(i)
        else:
            list_odd.append(i)
    print('Even element of the list is:',list_even)
    print('Odd element of the list is:',list_odd)
myfunc(a)

Even element of the list is: [20, 50, 58, 78, 96, 36, 10]
Odd element of the list is: [1, 55, 69, 25, 11, 15, 33, 39]

In [34]:
a=[1,20,50,55,69,58,78,96,36,25,10,11,15,33,39]

list1=list(filter(lambda x:x%2==0,a))
list2=list(filter(lambda y:y%2!=0,a))
print('Even element of the list using filter is:',list1)
print('Odd element of the list using filter is:',list2)

Even element of the list using filter is: [20, 50, 58, 78, 96, 36, 10]
Odd element of the list using filter is: [1, 55, 69, 25, 11, 15, 33, 39]

# reduce() function

 * __Required: from functools import reduce__
 * __syntax: reduce(function,sequence)__
 * __reduce,continually applies the function f(x,y) to the sequence, It return single value.__

In [4]:
from functools import reduce
def add(x,y):
    return x+y

x=[10,20,30,40,50,60,70,80,90,100]   # list,tuple,string

y=reduce(add,x)
y

550

In [6]:
def multi(a,b):
    return a*b

list1=[10,50,15,45,69,79,89]

reduce1=reduce(multi,list1)
reduce1

163734412500

In [14]:
a=reduce(lambda a,b:a+b, [10,20,13,15,14,78])
a

150

In [15]:
arr1=[12,13,10,14,15,12.36]
a=reduce(lambda a,b:a+b, arr1)
a

76.36

# Lambda with sorted()

 * __A simple ascending sort is very easy. Just call the sorted() functions. It returns a new list.__

In [25]:
# Arrange in ascending order using sorted() function

x=[5,4,2,36,9,8,72,6,52,5,41,10]   # random data.

y=sorted(x)
print(y)

y1=y[::-1]
y1

[2, 4, 5, 5, 6, 8, 9, 10, 36, 41, 52, 72]

[72, 52, 41, 36, 10, 9, 8, 6, 5, 5, 4, 2]

In [33]:
x=[5,4,2,36,9,8,72,6,52,5,41,10]
x.sort()
x

[2, 4, 5, 5, 6, 8, 9, 10, 36, 41, 52, 72]

In [35]:
x=[5,4,2,36,9,8,72,6,52,5,41,10]
print(x)
sorted(x)

[5, 4, 2, 36, 9, 8, 72, 6, 52, 5, 41, 10]

[2, 4, 5, 5, 6, 8, 9, 10, 36, 41, 52, 72]

In [36]:
tup1=(10,20,30,14,45,23,85,78,96,45)
sorted(tup1)

[10, 14, 20, 23, 30, 45, 45, 78, 85, 96]

In [37]:
x='Abhisek'
sorted(x)

['A', 'b', 'e', 'h', 'i', 'k', 's']

In [55]:
# Dictionary

students=[
    ('Hrithik Roshan','C',100),
    ('Abhishek','A',15),
    ('Isha Deol','B',12),
    
]
students

[('Hrithik Roshan', 'C', 100), ('Abhishek', 'A', 15), ('Isha Deol', 'B', 12)]

In [56]:
type(students)

list

In [57]:
type(students[0])

tuple

In [61]:
# According to name sorting performed
sorted(students,key=lambda students:students[0])

[('Abhishek', 'A', 15), ('Hrithik Roshan', 'C', 100), ('Isha Deol', 'B', 12)]

In [62]:
# According to Section sorting performed
sorted(students,key=lambda students:students[1])

[('Abhishek', 'A', 15), ('Isha Deol', 'B', 12), ('Hrithik Roshan', 'C', 100)]

In [63]:
# According to Age sorting performed
sorted(students,key=lambda students:students[2])

[('Isha Deol', 'B', 12), ('Abhishek', 'A', 15), ('Hrithik Roshan', 'C', 100)]

In [69]:
class person:
    def __init__(self,name,age,section,gender):
        self.name=name
        self.age=age
        self.section=section
        self.gender=gender
    def __repr__(self):
        return repr((self.name,self.age,self.section,self.gender))

obj=person('Abhishek',45,'A',"Male")
obj

('Abhishek', 45, 'A', 'Male')

In [71]:
student_obj=[
    person('Aditya',12,'C','Male'),
    person('Sahil',50,'A','Male'),
    person('Shivam',12,'B','Male'),
    person('Pallavi',40,'D','Female'),
    person('Divya',14,'F','Female'),
]
student_obj

[('Aditya', 12, 'C', 'Male'),
 ('Sahil', 50, 'A', 'Male'),
 ('Shivam', 12, 'B', 'Male'),
 ('Pallavi', 40, 'D', 'Female'),
 ('Divya', 14, 'F', 'Female')]

In [72]:
for i in student_obj:
    print(i)

('Aditya', 12, 'C', 'Male')
('Sahil', 50, 'A', 'Male')
('Shivam', 12, 'B', 'Male')
('Pallavi', 40, 'D', 'Female')
('Divya', 14, 'F', 'Female')

In [92]:
(lambda person:person[2])(student_obj)

('Shivam', 12, 'B', 'Male')

In [97]:
# sorting perform using name
sorted(student_obj,key=lambda person:person.name)

[('Aditya', 12, 'C', 'Male'),
 ('Divya', 14, 'F', 'Female'),
 ('Pallavi', 40, 'D', 'Female'),
 ('Sahil', 50, 'A', 'Male'),
 ('Shivam', 12, 'B', 'Male')]

In [98]:
# sorting perform using age
sorted(student_obj,key=lambda person:person.age)

[('Aditya', 12, 'C', 'Male'),
 ('Shivam', 12, 'B', 'Male'),
 ('Divya', 14, 'F', 'Female'),
 ('Pallavi', 40, 'D', 'Female'),
 ('Sahil', 50, 'A', 'Male')]

In [99]:
# sorting perform using section
sorted(student_obj,key=lambda person:person.section)

[('Sahil', 50, 'A', 'Male'),
 ('Shivam', 12, 'B', 'Male'),
 ('Aditya', 12, 'C', 'Male'),
 ('Pallavi', 40, 'D', 'Female'),
 ('Divya', 14, 'F', 'Female')]

In [100]:
# sorting perform using gender
sorted(student_obj,key=lambda person:person.gender)

[('Pallavi', 40, 'D', 'Female'),
 ('Divya', 14, 'F', 'Female'),
 ('Aditya', 12, 'C', 'Male'),
 ('Sahil', 50, 'A', 'Male'),
 ('Shivam', 12, 'B', 'Male')]

In [102]:
# Lambda with apply()

value_list=[
    [15,2.5,100],
    [20,40.5,50],
    [25,78.23,50],[40,56.23,89],[45,89.3,45]
]
value_list

[[15, 2.5, 100],
 [20, 40.5, 50],
 [25, 78.23, 50],
 [40, 56.23, 89],
 [45, 89.3, 45]]

In [105]:
import pandas as pd

df=pd.DataFrame(value_list,columns=['Field1','Field2','Field3'],index=['a','b','c','d','e'])
df

   Field1  Field2  Field3
a      15    2.50     100
b      20   40.50      50
c      25   78.23      50
d      40   56.23      89
e      45   89.30      45

In [147]:
import pandas as pd

df=pd.DataFrame(value_list,columns=['value1','value2','valu3'],index=[0,1,2,3,4])
df

   value1  value2  valu3
0      15    2.50    100
1      20   40.50     50
2      25   78.23     50
3      40   56.23     89
4      45   89.30     45

In [148]:
type(df)

pandas.core.frame.DataFrame

In [149]:
# Adding 5 in each elements using lambda apply() function
print(df)
df1=df.apply(lambda x:x+5)
print(df1)

   value1  value2  valu3
0      15    2.50    100
1      20   40.50     50
2      25   78.23     50
3      40   56.23     89
4      45   89.30     45
   value1  value2  valu3
0      20    7.50    105
1      25   45.50     55
2      30   83.23     55
3      45   61.23     94
4      50   94.30     50

In [150]:
print(df)
df1=df.apply(lambda x:x*5)
print(df1)

   value1  value2  valu3
0      15    2.50    100
1      20   40.50     50
2      25   78.23     50
3      40   56.23     89
4      45   89.30     45
   value1  value2  valu3
0      75   12.50    500
1     100  202.50    250
2     125  391.15    250
3     200  281.15    445
4     225  446.50    225

In [151]:
df[:]

   value1  value2  valu3
0      15    2.50    100
1      20   40.50     50
2      25   78.23     50
3      40   56.23     89
4      45   89.30     45

In [152]:
df

   value1  value2  valu3
0      15    2.50    100
1      20   40.50     50
2      25   78.23     50
3      40   56.23     89
4      45   89.30     45

In [155]:
df4=df.valu3[3]
df4

89