# 4. Tuples in Python

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Tuples are definied in the same way as lists.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index[0], the second value[1].__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuples also has the same structure where commas separate the value.__
 * __Tuples can store duplicates value.__
 * __Tuples allow you to store several data items inclduing string, integer, float in the on variables.__

In [2]:
# Take an example of tuples

tuple_1=('Hello world',3.14,2.718,True,False,[10,20],{1,2,3},{'a':20,'b':30},(0,1))   # parentheses
print(tuple_1)

('Hello world', 3.14, 2.718, True, False, [10, 20], {1, 2, 3}, {'a': 20, 'b': 30}, (0, 1))

In [3]:
print(type(tuple_1))

<class 'tuple'>

In [12]:
tuple_1=('Hello world',3.14,2.718,True,False,[10,20],{1,2,3},{'a':20,'b':30},(0,1))   # parentheses
print(tuple_1)
print(tuple_1[0])
print(type(tuple_1[0]))
print(tuple_1[1])
print(type(tuple_1[1]))
print(tuple_1[2])
print(type(tuple_1[2]))
print(tuple_1[3])
print(type(tuple_1[3]))
print(tuple_1[4])
print(type(tuple_1[4]))
print(tuple_1[5])
print(type(tuple_1[5]))
print(tuple_1[6])
print(type(tuple_1[6]))
print(tuple_1[7])
print(type(tuple_1[7]))
print(tuple_1[8])
print(type(tuple_1[8]))

('Hello world', 3.14, 2.718, True, False, [10, 20], {1, 2, 3}, {'a': 20, 'b': 30}, (0, 1))
Hello world
<class 'str'>
3.14
<class 'float'>
2.718
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
[10, 20]
<class 'list'>
{1, 2, 3}
<class 'set'>
{'a': 20, 'b': 30}
<class 'dict'>
(0, 1)
<class 'tuple'>

In [16]:
tuple_1=('Hello world',3.14,2.718,True,False,[10,20],{1,2,3},{'a':20,'b':30},(0,1))   # parentheses
print(tuple_1)

('Hello world', 3.14, 2.718, True, False, [10, 20], {1, 2, 3}, {'a': 20, 'b': 30}, (0, 1))

In [17]:
print(tuple_1[5][0])

10

In [18]:
print(tuple_1[8][1])

1

In [19]:
# Concatenation of tuple

'Abhishek'+' Wani'

'Abhishek Wani'

In [20]:
2 + 3

5

In [23]:
# Concatenation of tuple

print(tuple_1)

('Hello world', 3.14, 2.718, True, False, [10, 20], {1, 2, 3}, {'a': 20, 'b': 30}, (0, 1))

In [24]:
tuple_2=('Hello world','Mukul Jha','Python')
print(tuple_2)
print(type(tuple_2))

('Hello world', 'Mukul Jha', 'Python')
<class 'tuple'>

In [26]:
x=tuple_1+tuple_2
print(x)

('Hello world', 3.14, 2.718, True, False, [10, 20], {1, 2, 3}, {'a': 20, 'b': 30}, (0, 1), 'Hello world', 'Mukul Jha', 'Python')

In [27]:
# Repetation of number

3*2

6

In [29]:
tuple_2*2

('Hello world', 'Mukul Jha', 'Python', 'Hello world', 'Mukul Jha', 'Python')

In [30]:
a='abhishek'*2
a

'abhishekabhishek'

In [31]:
# membership

tuple_1=(1,2,3,4,5,6)
print(tuple_1)

(1, 2, 3, 4, 5, 6)

In [32]:
print(1 in tuple_1)

True

In [33]:
print(1 not in tuple_1)

False

In [34]:
print(10 in tuple_1)

False

In [35]:
print('abhishek' in tuple_1)

False

In [36]:
print(6 not in tuple_1)

False

In [38]:

tuple_1=(1,2,3,4,5,6)
print(tuple_1)

print(6 in tuple_1)
print(6 not in tuple_1)

(1, 2, 3, 4, 5, 6)
True
False

In [49]:
# aggrigate works only on numerical value () function: perform calculations (min,max,sum,count,find,average)

tup=(10,20,30,40,50,60,70,80,90,100)
print(min(tup))   # minimum number of tuple
print(max(tup)) # maximum number of tuple
print(sum(tup))  # total sum of the tuple
print(tup.index(30))
print(tup.index(100))
print(len(tup))   # total length of the tuple
print(sum(tup)/len(tup))  # average of tuple

10
100
550
2
9
10
55.0

In [53]:
# Sorting(Ascending or Descending order)   # sort --> mutable # sorted--> immutable

tuple_3=(0,3,97,4,6,2,9,8,3,1)
print(tuple_3)
print(type(tuple_3))
x=sorted(tuple_3)
print('Sorted Data is:',x)
print('Sorted Data type is:',type(x))

(0, 3, 97, 4, 6, 2, 9, 8, 3, 1)
<class 'tuple'>
Sorted Data is: [0, 1, 2, 3, 3, 4, 6, 8, 9, 97]
Sorted Data type is: <class 'list'>

In [56]:
# Why we can say tuple is immutable data type:

tuple_3.append('Abhishek')
print(tuple_3)

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
list1=[10]

list1.append('Abhishek')
print(list1)

[10, 'Abhishek']

In [57]:
tuple_3

(0, 3, 97, 4, 6, 2, 9, 8, 3, 1)

In [58]:
list1=[10]

list1.append('Abhishek')
print(list1)

[10, 'Abhishek']

In [60]:
list1[0]=100
print(list1)

[100, 'Abhishek']

In [61]:
tuple_3

(0, 3, 97, 4, 6, 2, 9, 8, 3, 1)

In [63]:
tuple_3[0] = 100
print(tuple_3)

TypeError: 'tuple' object does not support item assignment

In [64]:
# remove

list1[0]=100
print(list1)

[100, 'Abhishek']

In [65]:
list1.remove(100)
print(list1)

['Abhishek']

In [66]:

print(tuple_3)

(0, 3, 97, 4, 6, 2, 9, 8, 3, 1)

In [67]:
tuple_3.remove(0)
print(tuple_3)

AttributeError: 'tuple' object has no attribute 'remove'

In [71]:
# You can't change or modify the tuple element but you can delete the whole tuple

tuple_3

NameError: name 'tuple_3' is not defined

In [72]:
del(tuple_3)

NameError: name 'tuple_3' is not defined

In [73]:
print(tuple_3)

NameError: name 'tuple_3' is not defined

In [74]:
# one element as a tuple 

tuple_4=(100)
print(tuple_4)
print(type(tuple_4))

100
<class 'int'>

In [77]:
tuple_4=(100,)
print(tuple_4)
print(type(tuple_4))

(100,)
<class 'tuple'>