# 5. Sets in Python

 * __Set is one of the 4 built-in data types in Python used to store collections of data including List, Tuples, and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set elements are unique. Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements  contained in the set must be an immutable data type.__
 * __Sets are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackes.__

In [1]:
x={}    # creating empty set

print(x)

{}

In [2]:
print(type(x))

<class 'dict'>

In [3]:
# empty set

y=set()    #set function
print(y)
print(type(y))

set()
<class 'set'>

In [4]:
set1={'Hello world',3.14,1.618,'Hello world',3.14,1.618,True,False,2024}
set1

{1.618, 2024, 3.14, False, 'Hello world', True}

In [6]:
# union
# converting list to set

# A list can convert to a set easlily
# take a list
nlis=['Hello world',3.14,1.618,'Hello world',3.14,1.618,True,False,2024]
print(nlis)
print(type(nlis))


# converting to a set
set1=set(nlis)
print(set1)
print(type(set1))

['Hello world', 3.14, 1.618, 'Hello world', 3.14, 1.618, True, False, 2024]
<class 'list'>
{False, 1.618, True, 3.14, 2024, 'Hello world'}
<class 'set'>

# add() function

 * __To add an element into a set, we use the function add(). if the same element is added to the set, nothing will happend beacuase the set accepts no duplicates.__

In [11]:
# Addition of an element to the set.

set3= set(['Hello world', 3.14, 1.618, 'Hello world', 3.14, 1.618, True, False, 2024])
print(set3)

set3.add('Sahil')
print(set3)

set3.add('Mukul')
print(set3)

{False, 1.618, True, 3.14, 2024, 'Hello world'}
{False, 1.618, True, 3.14, 2024, 'Sahil', 'Hello world'}
{False, 1.618, True, 3.14, 2024, 'Mukul', 'Sahil', 'Hello world'}

# Update() function

 * __To add multiple elements into the set__

In [12]:
x_set={6,7,8,9,10}
print(set3)

{False, 1.618, True, 3.14, 2024, 'Mukul', 'Sahil', 'Hello world'}

In [13]:
set3.update(x_set)
print(set3)

{False, 1.618, True, 3.14, 6, 7, 2024, 'Mukul', 8, 9, 'Sahil', 10, 'Hello world'}

# remove() functions

 * __To remove an element from the set__

In [15]:
set3.remove(10)

In [16]:
set3

{1.618, 2024, 3.14, 6, 7, 8, 9, False, 'Hello world', 'Mukul', 'Sahil', True}

In [17]:
set3.remove(3.14)
set3

{1.618, 2024, 6, 7, 8, 9, False, 'Hello world', 'Mukul', 'Sahil', True}

In [18]:
set3.remove('Ram Navmi')
set3

KeyError: 'Ram Navmi'

# discard() function

 * __It leaves the set unchanged if the element to be deleted is not available in thet.__

In [20]:
set3.discard('Ram Navmi')
set3

{1.618, 2024, 6, 7, 8, 9, False, 'Hello world', 'Mukul', 'Sahil', True}

In [21]:
set3.discard('Today')
set3

{1.618, 2024, 6, 7, 8, 9, False, 'Hello world', 'Mukul', 'Sahil', True}

In [22]:
set3.discard('Hello world')
set3

{1.618, 2024, 6, 7, 8, 9, False, 'Mukul', 'Sahil', True}

In [23]:
# Logic operations in set

# Take two sets


set4=set(['Hello Python',3.14,1.618,'Hello world'])  # with functions
set5={3.14,1.618,10,20,True,False}   # without function 

print(set4,set5)

{1.618, 3.14, 'Hello Python', 'Hello world'} {False, 1.618, True, 3.14, 20, 10}

In [24]:
print(set4)
print(set5)

{1.618, 3.14, 'Hello Python', 'Hello world'}
{False, 1.618, True, 3.14, 20, 10}

In [25]:
set4.union(set5)

{1.618, 10, 20, 3.14, False, 'Hello Python', 'Hello world', True}

# To find the insect of two sets using & ampersend  (&)

In [27]:
intersect=set4&set5
intersect

{1.618, 3.14}

In [29]:
# another method to find intersection
x=set4.intersection(set5)
print(x)

{1.618, 3.14}

# difference() functions

 * __To find the difference between two set__

In [31]:
print(set4) # it is set a
print(set5)  # it is set b

{1.618, 3.14, 'Hello Python', 'Hello world'}
{False, 1.618, True, 3.14, 20, 10}

In [34]:
# (A-B) (B-A)

print(set4.difference(set5))   # a-b
print(set5.difference(set4))

{'Hello world', 'Hello Python'}
{False, True, 10, 20}

In [35]:
# Symettric Difference

print(set4)
print(set5)

{1.618, 3.14, 'Hello Python', 'Hello world'}
{False, 1.618, True, 3.14, 20, 10}

In [36]:
set4.symmetric_difference(set5)

{10, 20, False, 'Hello Python', 'Hello world', True}

In [40]:
# Aggrigate() function

# min(),max(), sum(),average() functions

set5={10,20,30,40,50,60}

print(max(set5))
print(min(set5))
print('Sum:',sum(set5))
print('Average:',sum(set5)/len(set5))

60
10
Sum: 210
Average: 35.0

# No mutable sequence in a set

 * __A set can not have mutable elements such as list or diciton in it. If any, it returns an Error as follows:__

In [42]:
set6={'Python',3.14,[10,20]}
set6

TypeError: unhashable type: 'list'

In [43]:
set6={'Python',3.14,(10,20)}
set6

{(10, 20), 3.14, 'Python'}

# Index() function
 * __This function does not work in set since the set is unordered collections.__

In [44]:
set7={1,2,3,4}
set7[0]

TypeError: 'set' object is not subscriptable

In [48]:
# copy set

# Deep copy() or swallow copy

# Deep copy
set8={10,20,30,50,60}
print('Original Set:',set8)
x_copy=set8
print('Copied Set:',x_copy)

# adding element into set
x_copy.add('Mukul')
print(x_copy)

print(set8)

Original Set: {50, 20, 10, 60, 30}
Copied Set: {50, 20, 10, 60, 30}
{50, 20, 'Mukul', 10, 60, 30}
{50, 20, 'Mukul', 10, 60, 30}

In [51]:
# Swallow copy

x_set={1,2,3,4}

x_copied=x_set.copy()
print('Original Set',x_set)
print('Copied Set:',x_copied)

# Adding element in x_copied

x_copied.add('Sahil')
print('Added elemet:',x_copied)

print('Original Set',x_set)

Original Set {1, 2, 3, 4}
Copied Set: {1, 2, 3, 4}
Added elemet: {1, 2, 3, 4, 'Sahil'}
Original Set {1, 2, 3, 4}

# clear() function

 * __It removes all elements in the set and then do the set empty.__

In [52]:
x_set1={1,2,3,4,5}
print(x_set1)

{1, 2, 3, 4, 5}

In [53]:
# clear set

x_set1.clear()

print(x_set1)

set()

# pop() functions

 * __It removes and returns an arbitray set element.__

In [54]:
x={0,1,2,3,4,5,6,7,8,9}
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
x.pop()

0

In [56]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9}