# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyboard in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for looop we can execute a set of statements, once for each item in a list, a tuple, or a set.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: The while loop requires relevant variables to be ready, in this example we need to define an indexing variable,i, which we set to .__

# range() functions
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() functions.__
 * __The range() function returns a sequence of numbers, string, starting from  by default, and increments by  (by default), and ends at a specified number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(100)

range(0, 100)

In [3]:
range(1000)

range(0, 1000)

In [4]:
range(5,10)

range(5, 10)

In [5]:
range(-10,10)

range(-10, 10)

In [8]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(-10,10):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [11]:
list_1=['Apple','Banana','Papaya','Strawberry','Cherry','Muskmilon','Watermelon','Litchi','Pineapple','Mango','Kiwi']

print(type(list_1))

<class 'list'>

In [12]:
for x in list_1:
    print(x)

Apple
Banana
Papaya
Strawberry
Cherry
Muskmilon
Watermelon
Litchi
Pineapple
Mango
Kiwi

In [13]:
tuple_1=('Apple','Banana','Papaya','Strawberry','Cherry','Muskmilon','Watermelon','Litchi','Pineapple','Mango','Kiwi')
print(type(tuple_1))

<class 'tuple'>

In [16]:
for y in tuple_1:
    print(y)

Apple
Banana
Papaya
Strawberry
Cherry
Muskmilon
Watermelon
Litchi
Pineapple
Mango
Kiwi

In [32]:
# striding in for loop

x= [1,2,3,4,5,6,7,8,9,10]

x1=x[2:6]
x1
x1[::-1]

[6, 5, 4, 3]

In [54]:
# for loop


for i in range(0,11,2):
    print(i,end=' ')  #delimeter

0 2 4 6 8 10

In [1]:
# 1,10
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,

In [9]:
# set,tuple,list,dictionary,string

for abc in range(10,20):
    print(abc,end=' ')

10 11 12 13 14 15 16 17 18 19

In [16]:
list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']
print(list1)
print(type(list1))


len(list1)

['Apple', 'Banana', 'strawberry', 'rupsberry', 'watermelon', 'Muskmelon', 'Pineapple', 'Grapes', 'Mango', 'Litchi', 'Orange']
<class 'list'>

11

In [15]:
for fruits in list1:
    print(fruits)

Apple
Banana
strawberry
rupsberry
watermelon
Muskmelon
Pineapple
Grapes
Mango
Litchi
Orange

In [22]:
for fruits in range(len(list1)):
    print(fruits,'.',list1[fruits])

0 . Apple
1 . Banana
2 . strawberry
3 . rupsberry
4 . watermelon
5 . Muskmelon
6 . Pineapple
7 . Grapes
8 . Mango
9 . Litchi
10 . Orange

In [25]:
for x,y in enumerate(list1):
    print(x,y)

0 Apple
1 Banana
2 strawberry
3 rupsberry
4 watermelon
5 Muskmelon
6 Pineapple
7 Grapes
8 Mango
9 Litchi
10 Orange

In [26]:
# write a table 

# 1x1=1    # 2x1=2
# 1x2=2    # 2x2=4
# 1x3=3    # 2x3=6
# 1x4=4    # 2x4=8
# 1x10=10

In [31]:
number=9

for i in range(1,11):
    print(2,'x',i,'=',2*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [39]:
number=int(input('Enter any number:'))
number1=int(input('Enter any number:'))

for i in range(1,11):
    print(f"{number}x{i}={number*i},{number1}x{i}={number1*i} ")

Enter any number: 10
Enter any number: 12

10x1=10,12x1=12
10x2=20,12x2=24
10x3=30,12x3=36
10x4=40,12x4=48
10x5=50,12x5=60
10x6=60,12x6=72
10x7=70,12x7=84
10x8=80,12x8=96
10x9=90,12x9=108
10x10=100,12x10=120

In [42]:
number=int(input('Enter any number:'))

for i in range(1,11):
    print('%dx%d=%d'%(number,i,number*i))

Enter any number: 10

10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [58]:
# find total addition,average,length using for loop.

data=[10,20,30,40,52.36,89.36,45.25,45,1000,200.23]
count=0
for i in data:
    count+=i
print('Total of this list:',count)
print('Average of this list:',count/len(data))
print('Length of this list:',len(data))

Total of this list: 1532.2
Average of this list: 153.22
Length of this list: 10

In [59]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
# break in for loop:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [64]:
list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']

for i in list1:
    if i=='watermelon':
        break
    print(i,end=' ')

Apple Banana strawberry rupsberry

In [65]:
# continue

list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']

for i in list1:
    if i=='watermelon':
        continue
    print(i,end=' ')

Apple Banana strawberry rupsberry Muskmelon Pineapple Grapes Mango Litchi Orange

In [69]:
# continue

list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']

for i in list1:
    print(i,end=' ')
    if i=='watermelon':
        break

Apple Banana strawberry rupsberry watermelon

In [4]:
# While loop
range(1,10)

range(1, 10)

In [7]:
i=20
while i<27:
    print(i)
    i+=1

20
21
22
23
24
25
26

In [9]:
i=20
while i>27:
    print(i)
    i+=1
else:
    print('hello world')

hello world

In [16]:
i=1
while i<=10:
    print(i)
    i+=1

else:
    print('These are numbers from 1 to 20')

1
2
3
4
5
6
7
8
9
10
These are numbers from 1 to 20

In [24]:
i=1
x=int(input('Enter any number:'))
while i<=x:
    print(i)
    i+=1

else:
    print(f'These are numbers from 1 to {x}')

Enter any number: 10

1
2
3
4
5
6
7
8
9
10
These are numbers from 1 to 10

In [26]:
# To perform addition in natural numbers
#---------------------------------------------

i=1
sum1=0
while i<=10:
    sum1=sum1+i
    print(sum1)
    i+=1

else:
    print(f'The sum of value is:{sum1}')

1
3
6
10
15
21
28
36
45
55
The sum of value is:55

In [27]:
# 1 - 10 sum of even number
# 0,2,4,6,8,10= 30 using while loop

In [30]:
i=1
sum1=0
while i<=10:
    if i%2==0:
        sum1=sum1+i
    i+=1
else:
    print(f' The sum of even numbers is : {sum1}')

 The sum of even numbers is : 30

In [36]:
# sum of natural number of given numbers.
i=1
s=0
while i<=10:
    if i%2==0:
        s=s+i
        # print(i)
    i+=1

else:
    print(f'The sum of even numbers given by the user is:{s}')

The sum of even numbers given by the user is:30

In [37]:
# sum of odd numbers number of given number i.e 10 using while loop.

x = 1
y = 10
sum_of_odd = 0

while x <= y :

    if x % 2 != 0:
        
        sum_of_odd += x
        
    x += 1

print("Sum of odd numbers from 1 to", y, "is:", sum_of_odd)

Sum of odd numbers from 1 to 10 is: 25

In [46]:
i=0
odd=0
while i<=10:
    # print(i)
    if i%2!=0:
        # print(i)
        odd=odd+i
    i+=1
else:
    print(f'The sum of odd number is:{odd}')

The sum of odd number is:25

In [54]:
# find the sum of number given by the user. 10, 20 ==
x=int(input('Enter Starting range:'))
y=int(input('Enter Ending range:'))
s1=0
while x<=y:
    s1=s1+x
    x+=1

else:
    print(f'The sum of numbers given by the user is:{s1}')

Enter Starting range: 100
Enter Ending range: 200

The sum of numbers given by the user is:15150

In [64]:
# find the sum of even number given by the user. 
x=int(input('Enter starting range:'))
y=int(input('Enter ending range"'))
s1=0
list1=[]
while x<=y:
    if x%2==0:
        list1.append(x)
        s1=s1+x 
    x+=1
else :
    print(f'Your Generated List is:{list1}\nThe sum of starting to ending range which contains even numbers is:{s1}')

Enter starting range: 10
Enter ending range" 20

Your Generated List is:[10, 12, 14, 16, 18, 20]
The sum of starting to ending range which contains even numbers is:90

In [65]:
x = int(input('Enter the first number: '))
y = int(input('Enter the second number: '))

total_even = 0

while x <= y:

    if x % 2 == 0:
        total_even += x
    
    x += 1

print("Sum of even numbers from", x, "to", y, "is:", total_even)

Enter the first number:  10
Enter the second number:  30

Sum of even numbers from 31 to 30 is: 220

In [68]:
# find the sum of even number given by the user. 
x=int(input('Enter starting range:'))
y=int(input('Enter ending range"'))
s1=0

while x<=y:
    if x%2==0:
        print(x,end=',')
        s1=s1+x 
    x+=1
else :
    print(f'\nThe sum of starting to ending range which contains even numbers is:{s1}')

Enter starting range: 10
Enter ending range" 20

10,12,14,16,18,20,
The sum of starting to ending range which contains even numbers is:90

In [69]:
list1

[10, 12, 14, 16, 18, 20]

In [4]:
# break in while 

for i in range(1,10):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [8]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [14]:
i=1
while i<=10:
    
    if i==6:
        break
        
    
    i+=1

1
2
3
4
5
6

In [3]:
i=0
while i<=10:
    print(i)
    i+=1
    if i==5:
        break

0
1
2
3
4

In [7]:
i=0
while i<=10:
    print(i)
    
    i+=1
    if i==5:
        continue

0
1
2
3
4
5
6
7
8
9
10

In [10]:
i=0
while i<=10:
    
    i+=1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [14]:
i=1
val=2
while i<=10:
    print(f'{val}x{i}={val*i}')
    i+=1

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [16]:
i=1
table=2

while i<=10:
    print('%dx%d=%d'%(table,i,table*i))
    i+=1

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [33]:
# [10,20,30,40,50,60,70,80,90,100] find their sum using while loop
x=[10,20,30,40,50,60,70,80,90,100]
i=0
sum1=0
while i<len(x):
    sum1=sum1+x[i]
    i=i+1

else:
    print('The sum of the list is:',sum1)

The sum of the list is: 550

In [32]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

x = 0
y = 0

while y < len(numbers):
    x += numbers[y]
    y += 1

print("The sum of total number is:", x)

The sum of total number is: 550

In [34]:
# Find the 50 natural numbers.  1,2,3.............................50 using while looop
# whole numers: Number started with 0.

In [35]:
i = 1 
y =0
while i <= 50:
    y += i  
    i += 1      

print("The sum of the first 50 natural numbers is:",y)

The sum of the first 50 natural numbers is: 1275

In [38]:
i=1
sum2=0
while i<=50:
    sum2=sum2+i
    i+=1
else:
    print('The sum of the first 50 natural numbers is:',sum2)

The sum of the first 50 natural numbers is: 1275

In [41]:
i=1
sum1=0
while i<=50:
    sum1=sum1+i
    i+=1
else:
    print('the sum of natural numbers is',sum1)

the sum of natural numbers is 1275

In [48]:
# find the sum of first 50 even natural numbers.
# 2,4,6,8,10,.......................................50.
i=1
even_list=[]
sum1=0
while i<=50:
    if i%2==0:
        even_list.append(i)
        sum1=sum1+i
    i+=1
else:
    print('the sum of natural numbers is\n',even_list,'\n',sum1)

the sum of natural numbers is
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
 650

In [67]:
# find the sum of first 50 odd natural using while loop.

i=0
sum1=0
odd_num=[]
while i<=50:
    if i%2!=0:
        odd_num.append(i)
        sum1+=i
    i+=1

print(sum1,'\n',odd_num)

625
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [62]:
odd_list=[]
sum1=0
i=0
while i<=50:
    if i%2!=0:
        odd_list.append(i)
        sum1=sum1+i
    i+=1
else:
    print('the sum of 50 natural odd no.s is\n',odd_list,'\n',sum1)

the sum of 50 natural odd no.s is
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
 625

In [ ]:
# find the sum of even and odd numbers of first 50 natural numbers display their list of even and odd numbers.
# even_num=[2,4,6,8.....................50]
# even_number:=0
# odd_num=[1,3,5,7....................49]
# odd_number:-0

In [1]:
even_sum = 0
odd_sum = 0

even_num = list(range(2, 51, 2))
odd_num = list(range(1, 50, 2))

even_num1 = 0
while even_num1 < len(even_num):
    even_sum += even_num[even_num1]
    even_num1 += 1

odd_num1 = 0
while odd_num1 < len(odd_num):
    odd_sum += odd_num[odd_num1]
    odd_num1 += 1

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 650
Sum of odd numbers: 625

In [9]:
i=0
even_list=[]
sum_even=0
odd_list=[]
sum_odd=0
while i<=50:
    if i%2==0:
        even_list.append(i)
        sum_even=sum_even+i
    else:
        odd_list.append(i)
        sum_odd+=i
    i=i+1

else:
    print('Even Number is:',even_list,'\nTotal Even Sum is:',sum_even,"\nOdd Num List is:",odd_list,'\nSum of Odd list is:',sum_odd)

Even Number is: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
Total Even Sum is: 650
Odd Num List is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
Sum of Odd list is: 625

In [ ]:
# write numbers name ex.1-->Odd number,2--Even number ..................................20 using while loop.

In [19]:
i=0
user1=int(input('Enter any number:'))
while i<=user1:
    if i%2==0:
        print(i,':Even Number')
    else:
        print(i,':Odd Number')
    i+=1

Enter any number: 50

0 :Even Number
1 :Odd Number
2 :Even Number
3 :Odd Number
4 :Even Number
5 :Odd Number
6 :Even Number
7 :Odd Number
8 :Even Number
9 :Odd Number
10 :Even Number
11 :Odd Number
12 :Even Number
13 :Odd Number
14 :Even Number
15 :Odd Number
16 :Even Number
17 :Odd Number
18 :Even Number
19 :Odd Number
20 :Even Number
21 :Odd Number
22 :Even Number
23 :Odd Number
24 :Even Number
25 :Odd Number
26 :Even Number
27 :Odd Number
28 :Even Number
29 :Odd Number
30 :Even Number
31 :Odd Number
32 :Even Number
33 :Odd Number
34 :Even Number
35 :Odd Number
36 :Even Number
37 :Odd Number
38 :Even Number
39 :Odd Number
40 :Even Number
41 :Odd Number
42 :Even Number
43 :Odd Number
44 :Even Number
45 :Odd Number
46 :Even Number
47 :Odd Number
48 :Even Number
49 :Odd Number
50 :Even Number

In [45]:
#numbers:[10,20,15,47,-98,78,-100,-69,452,-300,74,325,65,-200.02,85.36,-41.89,-78.36,-45.20]

# sum of positive and sum of negative value.
numbers=[10,20,15,47,-98,78,-100,-69,452,-300,74,325,65,-200.02,85.36,-41.89,-78.36,-45.20]


i=0
positive_num=[]
sum1=0
negative_num=[]
neg=0
while i<len(numbers):
    if numbers[i]>0:
        positive_num.append(numbers[i])
        sum1=sum1+numbers[i]
    else:
        negative_num.append(numbers[i])
        neg=neg+numbers[i]
    i+=1

else:
    print(f'Positive list is:{positive_num}={sum1}\nNegative List is:{negative_num}={neg}')

Positive list is:[10, 20, 15, 47, 78, 452, 74, 325, 65, 85.36]=1171.36
Negative List is:[-98, -100, -69, -300, -200.02, -41.89, -78.36, -45.2]=-932.47

In [1]:
#1. Given the list of names count the numbers having more than five characters.
# list1=['Google',"Yahoo","Welcome","John","bob","pritam","Ruspberry","Cat","Animal","Mahi","Sonal"]

# 2.Given a list of 10 names from user input, after that filter then name which is starting the charcter of "B" letter.


# 3. Write a program to print first 10 integers and their squares using while loop. EX:- [1-->1, 2-->4,3-->9........10-->100]

# 4. Write while loop statement to print the following series: EX:-[10,20,30,40,50,60,70.............300]

#5. Write a while loop statement to print the following series..EX:-[105,98,91,.......................7]

#6. Write a while loop to print the first 10 natural number in reverse order using while loop.

#7. Write a program to print sum of first 50 whole numbers.

#8. Write a program to print all even numbers that falls between two numbers(exclusing both numbers) entered from the user using
# while loop.

# 9. Write a program to check whether a number is prime or not using while loop.

# 10. Write a program to find the sum of the digits of a number accepted from the user.

In [4]:
# Using for loop
names = ["google", "yahoo", "welcome", "john", "bob", "pritam", "raspberry", "cat", "animal", "mahi", "sonal"]

More_than_5char=[]
Less_than_5char=[]
for name in names:
    if len(name) <= 5:
        Less_than_5char.append(name)
    else:
        More_than_5char.append(name)


else:
    print(More_than_5char,"\n",Less_than_5char)

['google', 'welcome', 'pritam', 'raspberry', 'animal']
 ['yahoo', 'john', 'bob', 'cat', 'mahi', 'sonal']

In [10]:
list1 = ['Google','Yahoo','Welcome','John','Bob','Pritam','Raspberry','Cat','Animal','Mahi','Sonal']

new_list = []
for i in list1:
    if len(i)>5:
        new_list.append(i)
print("Words having more than five characters are :",new_list)

Words having more than five characters are : ['Google', 'Welcome', 'Pritam', 'Raspberry', 'Animal']

In [20]:
i=0
list_2=[]
list_3=[]
while i<len(list1):
    if len(list1[i])>5:
       list_2.append(list1[i])

    else:
        list_3.append(list1[i])
    i+=1
else:
    print(list_2,'\n',list_3)

['Google', 'Welcome', 'Pritam', 'Raspberry', 'Animal']
 ['Yahoo', 'John', 'Bob', 'Cat', 'Mahi', 'Sonal']

In [40]:
#Given list of 10 names from user input, after that filter starting with 'b'

list_1 = []
for i in range(1,11):
    word = input(f"Enter name{i}")
    list_1.append(word)
print(list_1)


b_list = []
for words in list_1:
    if words.lower().startswith('b'):
        b_list.append(words)
print("Words starting with 'b' are: ",b_list)

Enter name1 bablu
Enter name2 a
Enter name3 a
Enter name4 a
Enter name5 a
Enter name6 a
Enter name7 a
Enter name8 a
Enter name9 a
Enter name10 a

['bablu', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
Words starting with 'b' are:  ['bablu']

In [41]:
names = []
b = []
for i in range(1,11):
    x = input(f"Enter name {i}")
    names.append(x)
print("List of your names : ",names)
for y in names:
    if y[0].lower()=="b":
        b.append(y)
print("Starting with b words are:",b)

Enter name 1 Bablu
Enter name 2 Dablu
Enter name 3 Babli
Enter name 4 a
Enter name 5 a
Enter name 6 a
Enter name 7 a
Enter name 8 a
Enter name 9 a
Enter name 10 a

List of your names :  ['Bablu', 'Dablu', 'Babli', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
Starting with b words are: ['Bablu', 'Babli']

In [ ]:
# 3. Write a program to print first 10 integers and their squares using while loop. EX:- [1-->1, 2-->4,3-->9........10-->100]

In [8]:
# sahil

num = 1
print("Number--Value",'\n--------------')
while num <= 10:
    square = num ** 2
    print(f"{num} --> = {square}")
    num += 1

Number--Value
--------------
1 --> = 1
2 --> = 4
3 --> = 9
4 --> = 16
5 --> = 25
6 --> = 36
7 --> = 49
8 --> = 64
9 --> = 81
10 --> = 100

In [11]:
# 4. Write while loop statement to print the following series: EX:-[10,20,30,40,50,60,70.............300]

num=10

while num<=300:
    print(num,end=',')

    num+=10
    #num=num+10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,

In [13]:
#5. Write a while loop statement to print the following series..EX:-[105,98,91,.......................7]


num=105

while num>=7:
    print(num,end=',')

    num-=7

105,98,91,84,77,70,63,56,49,42,35,28,21,14,7,

In [17]:
for i in range(105,7,-7):
    print(i)

105
98
91
84
77
70
63
56
49
42
35
28
21
14

In [20]:
#6. Write a while loop to print the first 10 natural number in reverse order using while loop.

i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [28]:
#7. Write a program to print sum of first 50 whole numbers.
i=0
sum1=0
while i<=50:
    print(i,end=' ')
    sum1=sum1+i
    i+=1

print('=',sum1)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 = 1275

In [46]:
#8. Write a program to print all even numbers that falls between two numbers(exclusing both numbers) entered from the user using
# while loop.

num1=int(input('Enter first Number:'))  #10 , 12,14,16,18
num2=int(input('Enter Second Numberr'))  #20
x=num1+1
while x<num2:
    if x%2==0:
        print(x)
    x+=1

Enter first Number: 10
Enter Second Numberr 20

12
14
16
18

In [47]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num1 >= num2:
    print("Error: Starting number should be less than the ending number.")
else:
    i = num1 + 1
    print("Even numbers between", num1, "and", num2, "are:")
    while i < num2:
        if i % 2 == 0:
            print(i)
        i += 1

Enter the first number:  10
Enter the second number:  20

Even numbers between 10 and 20 are:
12
14
16
18

In [59]:
# 9. Write a program to check whether a number is prime or not using while loop.
# 0,1, prime number 2,3,5,7,11,13,17...............................and so on.

num1=int(input('Enter a number:'))

prime=True

i=2

while i<=num1 //2:
    if num1%i ==0:
        prime=False
    i+=1


if prime:
    print(num1,':prime number')
    
else:
    print(num1,':not prime number')

Enter a number: 141

141 :not prime number

In [ ]:
###### num = int(input("Enter a number: "))

x = 1 

if num <= 1:
    x = 0 
else:
    i = 2
    while i <= num // 2:
        if num % i == 0:
            x = 0        
        i += 1
if x == 1:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

In [60]:
True,False,pass

SyntaxError: invalid syntax (564610601.py, line 1)

In [61]:
# 10. Write a program to find the sum of the digits of a number accepted from the user.


n = (input("Enter numbers without comma : "))
x = []
x.extend(n)
print(x)
num = 0
while num < len(x):
    for i in x:
        num+=int(i)
    print(num)

Enter numbers without comma :  10256987

['1', '0', '2', '5', '6', '9', '8', '7']
38

In [76]:
# Write a program to display the number names of the digit of a number entered by the user, for example if the number is 231 
# then output is Two Three One.

# 3256  # Three Two  Five Six

# dict={0:"Zero",1:"One",2:"Two",3:"Three",....................9}


num1=input('Enter any number:')

list1=list(num1)
print(list1)

dict1={0:'Zero',1:'One',2:'Two',3:'Three',4:"Four",5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
i=0
while i<len(list1):
    print(dict1[int(list1[i])],end=' ')
    i+=1

Enter any number: 456632

['4', '5', '6', '6', '3', '2']
Four Five Six Six Three Two

In [77]:
list1

['4', '5', '6', '6', '3', '2']

In [1]:
#1. Wrtie a program to display all the number which are divisible by 13 but not by 3 between 100 and 500. 
# (Exclusive both numbers.) using while loop.

#2. Write  a program to print the following series till n terms. 2,22,222,2222,22222,222222..............nth term.

#3. Write a program to print the folowing series till n therms. 1 4 9 16 25 ....................n terms.

#4. Write a progrm to find the sum of the following series (accept valud of x and n from the user)
# 1+x^2/2+.................X^n/n


#5. Write a program to find the sum of ;the folowing series.
# 1+8+27...................n term

#6.Write a program ot find the sum of the following series: 
# S= 1+4-9+16-25+36-............nth term.

#7. Write a program to print all the characters in the string "PYTHON" using while looop.

#8. Write a progrm to print only odd numbers form the given list of the numbers using while loop.
# L=[23,45,32,25,33,71,89,91,74,90,1001,1056]

#9.Write a python program to get the folllowing output. Likee:- 1--49, 2--48, 3--47, 4--46................49--1 

# 10. Write a python program to print all the factors of a number using while loop. Ex:- 8 Output:1,2,4,8

In [2]:
#1. Wrtie a program to display all the number which are divisible by 13 but not by 3 between 100 and 500. 
# (Exclusive both numbers.) using while loop.
num = 100
while num < 500:
    if num % 13 == 0 and num % 3 != 0:
        print(num)
    num += 1

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [7]:
#2. Write  a program to print the following series till n terms. 2,22,222,2222,22222,222222..............nth term.
i = 1
n = 6 
while i <= n:
    term = int("2" * i)
    print(term)
    i += 1

2
22
222
2222
22222
222222

In [5]:
#2. Write  a program to print the following series till n terms. 2,22,222,2222,22222,222222..............nth term.
n=int(input('Enter Vale of n:'))
string='2'
i=0
while (i<n):
    print(string,end=',')
    string=string+"2"
    i+=1

Enter Vale of n: 5

2,22,222,2222,22222,

In [14]:
#write the program to print following series  till n terms 1 4 9 16 25............nterms using while loop.   i=1
i=1
n=5
while i <= n:
    term = i * i
    print(term)
    i += 1

1
4
9
16
25

In [16]:
#write the program to print following series  till n terms 1 4 9 16 25............nterms using while loop.   i=1
n=int(input('Enter any value:'))

i=1
while i<=n:
    print(i**2,end=',')
    i+=1

Enter any value: 36

1,4,9,16,25,36,49,64,81,100,121,144,169,196,225,256,289,324,361,400,441,484,529,576,625,676,729,784,841,900,961,1024,1089,1156,1225,1296,

In [17]:
#4. Write a progrm to find the sum of the following series (accept valud of x and n from the user)
# 1+x^2/2+.................X^n/n

In [27]:
#5. Write a program to find the sum of the folowing series.
# 1+8+27...................n term

n=int(input('Enter number of terms:'))
sum1=0
i=1
while (i<=n):
    pattern=i*i*i
    sum1=sum1+i*i*i
    print(pattern,end=' ')
    i=i+1

else:
    print('\nSum of the number is:',sum1)

Enter number of terms: 10

1 8 27 64 125 216 343 512 729 1000
Sum of the number is: 3025

In [40]:
#6.Write a program ot find the sum of the following series: 
# S= 1+4-9+16-25+36-............nth term.
n=int(input('Enter number of the terms:'))

sp=1
sn=0
s=0
i=2
while i<=n:
    if i%2==0:
        sp=sp+i**2
        i=i+1
    else:
        sn=sn+i**2
        i+=1
else:
    print(sp+i**2,'-',sn+i**2,'=',sp-sn)

Enter number of the terms: 10

342 - 285 = 57