# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyboard in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for looop we can execute a set of statements, once for each item in a list, a tuple, or a set.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: The while loop requires relevant variables to be ready, in this example we need to define an indexing variable,i, which we set to .__

# range() functions
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() functions.__
 * __The range() function returns a sequence of numbers, string, starting from  by default, and increments by  (by default), and ends at a specified number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(100)

range(0, 100)

In [3]:
range(1000)

range(0, 1000)

In [4]:
range(5,10)

range(5, 10)

In [5]:
range(-10,10)

range(-10, 10)

In [8]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(-10,10):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [11]:
list_1=['Apple','Banana','Papaya','Strawberry','Cherry','Muskmilon','Watermelon','Litchi','Pineapple','Mango','Kiwi']

print(type(list_1))

<class 'list'>

In [12]:
for x in list_1:
    print(x)

Apple
Banana
Papaya
Strawberry
Cherry
Muskmilon
Watermelon
Litchi
Pineapple
Mango
Kiwi

In [13]:
tuple_1=('Apple','Banana','Papaya','Strawberry','Cherry','Muskmilon','Watermelon','Litchi','Pineapple','Mango','Kiwi')
print(type(tuple_1))

<class 'tuple'>

In [16]:
for y in tuple_1:
    print(y)

Apple
Banana
Papaya
Strawberry
Cherry
Muskmilon
Watermelon
Litchi
Pineapple
Mango
Kiwi

In [32]:
# striding in for loop

x= [1,2,3,4,5,6,7,8,9,10]

x1=x[2:6]
x1
x1[::-1]

[6, 5, 4, 3]

In [54]:
# for loop


for i in range(0,11,2):
    print(i,end=' ')  #delimeter

0 2 4 6 8 10

In [1]:
# 1,10
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,

In [9]:
# set,tuple,list,dictionary,string

for abc in range(10,20):
    print(abc,end=' ')

10 11 12 13 14 15 16 17 18 19

In [16]:
list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']
print(list1)
print(type(list1))


len(list1)

['Apple', 'Banana', 'strawberry', 'rupsberry', 'watermelon', 'Muskmelon', 'Pineapple', 'Grapes', 'Mango', 'Litchi', 'Orange']
<class 'list'>

11

In [15]:
for fruits in list1:
    print(fruits)

Apple
Banana
strawberry
rupsberry
watermelon
Muskmelon
Pineapple
Grapes
Mango
Litchi
Orange

In [22]:
for fruits in range(len(list1)):
    print(fruits,'.',list1[fruits])

0 . Apple
1 . Banana
2 . strawberry
3 . rupsberry
4 . watermelon
5 . Muskmelon
6 . Pineapple
7 . Grapes
8 . Mango
9 . Litchi
10 . Orange

In [25]:
for x,y in enumerate(list1):
    print(x,y)

0 Apple
1 Banana
2 strawberry
3 rupsberry
4 watermelon
5 Muskmelon
6 Pineapple
7 Grapes
8 Mango
9 Litchi
10 Orange

In [26]:
# write a table 

# 1x1=1    # 2x1=2
# 1x2=2    # 2x2=4
# 1x3=3    # 2x3=6
# 1x4=4    # 2x4=8
# 1x10=10

In [31]:
number=9

for i in range(1,11):
    print(2,'x',i,'=',2*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [39]:
number=int(input('Enter any number:'))
number1=int(input('Enter any number:'))

for i in range(1,11):
    print(f"{number}x{i}={number*i},{number1}x{i}={number1*i} ")

Enter any number: 10
Enter any number: 12

10x1=10,12x1=12
10x2=20,12x2=24
10x3=30,12x3=36
10x4=40,12x4=48
10x5=50,12x5=60
10x6=60,12x6=72
10x7=70,12x7=84
10x8=80,12x8=96
10x9=90,12x9=108
10x10=100,12x10=120

In [42]:
number=int(input('Enter any number:'))

for i in range(1,11):
    print('%dx%d=%d'%(number,i,number*i))

Enter any number: 10

10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [58]:
# find total addition,average,length using for loop.

data=[10,20,30,40,52.36,89.36,45.25,45,1000,200.23]
count=0
for i in data:
    count+=i
print('Total of this list:',count)
print('Average of this list:',count/len(data))
print('Length of this list:',len(data))

Total of this list: 1532.2
Average of this list: 153.22
Length of this list: 10

In [59]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
# break in for loop:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [64]:
list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']

for i in list1:
    if i=='watermelon':
        break
    print(i,end=' ')

Apple Banana strawberry rupsberry

In [65]:
# continue

list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']

for i in list1:
    if i=='watermelon':
        continue
    print(i,end=' ')

Apple Banana strawberry rupsberry Muskmelon Pineapple Grapes Mango Litchi Orange

In [69]:
# continue

list1=['Apple','Banana','strawberry','rupsberry','watermelon','Muskmelon','Pineapple','Grapes','Mango','Litchi','Orange']

for i in list1:
    print(i,end=' ')
    if i=='watermelon':
        break

Apple Banana strawberry rupsberry watermelon